body {
    margin: 0;
    padding: 0;
    transition: transform 0.2s ease-out;
    transform: translateX(-30vw);
}

#perspectives-side {
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    position: fixed;
    transform: translateX(30vw);
    top: 0;
    right: 0;
    height: 10000000vh;
    padding: 0;
    width: 30vw;
    z-index: 2147483647;
    background-color: #262626;
}

#perspectives-side h2 {
    color: #fff;
}

#perspectives-side ul {
    padding: 0;
    margin: 0;
}

#perspectives-side li {
    padding: 1em 3em;
    height: calc(100vh / 8);
    list-style-type: none;
    transform: translateX(30vw);
    transition: all 0.2s ease-in;
}